<div class="container-fluid">
  <nav class="navbar">
    <div class="container">
    	<ul class="nav navbar-nav navbar-right" >
    	{{userLogIn}}
     </ul>
    </div>
  </nav>
  <div class="row">
		<div class="col-md-10">
     	<ul class="albums">
     		<li class="thumbnail">
					<span class="label label-pill label-warning" >search</span>
					<input type="text"  ng-model="ncard"  class="form-control"  placeholder="card number"  /> 
						<button  class="btn btn-default"  ng-click="searchMissingCard(ncard)" >search</button>
				</li>
      </ul>
		</div>
  </div>
  <div class="row">
		<div class="col-md-10">
     	<ul class="albums">
     		<li class="thumbnail">
					<span class="label label-pill label-warning" >Albums</span>
				</li>
        <li ng-repeat="album in albums | filter:query | orderBy:orderProp" class="thumbnail">
        <span><a href="#/usersalbums/{{album.userown.id}}">{{album.name}}</a></span><span class="label label-pill label-success">{{album.userown.email}}</span>
        </li>
      </ul>
		</div>
  </div>
</div>

