<div class="container-fluid">
  <nav class="navbar">
    <div class="container">
    	<ul class="nav navbar-nav navbar-right" >
    	{{userLogIn}}
     </ul>
    </div>
  </nav>
  <p>Elenco album di {{userLogIn}}</p>		
  <div class="row">
   	<div class="col-md-10" >
				  	 <div class="row">
											      <ul class="albums">
											        <li ng-repeat="cc in albums | orderBy:cc.id" class="thumbnail">
											        	<span>
											        		<a href="#/missing/{{cc.id}}">{{cc.name}}</a>
											        	</span>
											        </li>
											      </ul>
						 </div>
					  </div>
					</div>
</div>

