<div class="container-fluid">
	  <nav class="navbar">
    <div class="container">
    	<ul class="nav navbar-nav navbar-right" >
    	 [{{userLogIn}}]
     </ul>
    </div>
  </nav>
  <form class="form_phone" name="formPhone">
  	
	  <div class="row">
	   	<div class="col-md-10" >
					  	 <div class="row">
												      <ul class="cards">
												      	<li class="thumbnail">
											      			<a href="#/usersalbums/{{userId}}">back</a>
											      		</li>

											      		<li class="thumbnail">
												      		<div ng-show={{owner}}>
														      	<span >
			     													<input type="text"  ng-model="card"            class="form-control"  placeholder="n. missing cards"  ng-required="true"/></br>
			     													<input type="text"  ng-model="textdescription"  class="form-control"  placeholder="description"  /> </br>
			     														<button  class="btn btn-default"  ng-click="formPhone.$valid && addMissingCard(card, textdescription)" >Add missing card</button>
			     														<button  class="btn btn-default"  ng-click="printable()" >Printlist</button>
			     													</span>
		     													</div>
		     												</li>
		     												<li class="thumbnail">
											      			<span class="label label-pill label-warning" >Missing card printable list [{{albumsel}}]</span>
											      		</li>	
															  <li ng-repeat="cc1 in newcard " class="thumbnail" >
															        {{cc1}}
															  </li>
												      	<li class="thumbnail">
											      			<span class="label label-pill label-warning" >Missing card for  [{{userown}}]  [{{albumsel}}]</span>
											      		</li>		     												
													        <li ng-repeat="cc in cards " class="thumbnail" >
													        		{{$index}}
	 													        	<button type="button" class="btn btn-danger btn-sm" ng-model="id" ng-click="removeMissingCard(cc.id)" ng-show={{owner}} >remove</button>
													        		<button type="button" class="btn btn-success btn-sm" ng-model="id" ng-click="findMissingCard(cc.id)" >found it!</button>
													        		<span> N.{{cc.card}}</span>  <span>{{cc.textdescription}}</span><span class="label label-pill label-success">{{cc.foundby.email}}</span>
													        		<span class="label label-pill label-success" ng-show="{{cc.foundby}}">{{cc.updatedAt | date : format : timezone}}</span>
													        		
													        </li>
												      </ul>
							 </div>
			</div>
		</div>
	</form>
</div>
