<div class="container-fluid">
  <nav class="navbar">
    <div class="container">
    	<ul class="nav navbar-nav navbar-right" >
    	{{userLogIn}}
     </ul>
    </div>
  </nav>
  <div class="row">  
		<div class="col-md-10">
    <div class="row">
      <ul class="users">
      	<li class="thumbnail">
					<span class="label label-pill label-warning" >Users</span>
				</li>
        <li ng-repeat="user in users | filter:query | orderBy:orderProp" class="thumbnail"  >
        	<span>
          <a href="#/usersalbums/{{user.id}}">{{user.email}}</a></span>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
